################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ze-Clowns/Ze-Clowns-SQL/Ze-Clowns-SQL.dbmdl
/Ze-Clowns/Ze-Clowns-SQL/Ze-Clowns-SQL.jfm

/Ze-Clowns/Ze-Clowns-SQL/Ze-Clowns/Ze-Clowns-SQL/obj/*
/Ze-Clowns/Ze-Clowns-SQL/Ze-Clowns/Ze-Clowns-WebAPI/obj/*
