<h1>h1 > This is a test</h1>


<p class="test-border-blue test-border-width">
  Rencana damai dengan Korea Utara diutarakan oleh Presiden Korsel Moon Jae-in di Sidang Umum PBB. Hingga kini, Korut dan Korsel sebetulnya masih berperang.
</p>
<hr />
<hr />
<p class="test-border-red test-border-width">
  Rencana &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
  damai dengan Korea Utara diutarakan oleh Presiden Korsel Moon Jae-in di Sidang Umum PBB. Hingga kini, Korut dan Korsel sebetulnya masih berperang.
</p>

<code>This is a code</code>
<br />
<pre>Rencana damai dengan Korea Utara</pre>
<div>
  <a href="https://www.google.com">diutarakan</a> oleh Presiden Korsel Moon Jae-in di Sidang Umum PBB. Hingga kini, Korut dan Korsel sebetulnya masih berperang.
</div>
sebetulnya masih berperang.
<img src="../../assets/Images/David Co Logo 3.png" width="100" height="100" alt="Logo 3" title="Logo 3" />
<p>Here is a quote from WWF's website:</p>
<br />
<blockquote cite="http://www.worldwildlife.org/who/index.html">
  For 50 years, WWF has been protecting the future of nature.
  The world's leading conservation organization,
  WWF works in 100 countries and is supported by
  1.2 million members in the United States and
  close to 5 million globally.
</blockquote>

<div class="test-border-blue test-border-width">
  <div class="test-border-red test-border-width" style="padding:50px;margin:5px">
    This is a test
  </div>

</div> 


<div>
  <form>
    <label for="firstName" class="input-label"> {{ firstName }}</label>&nbsp;
    <input id="firstName" type="text" /><br />
    <label for="lastName" class="input-label">{{lastName}}</label> &nbsp;
    <input id="lastName" type="text" /><br />

    <label for="sex" class="input-label"> {{sex}}</label> &nbsp;
    <input id="sex_male" type="radio" name="sex" value="1" />Male
    <input id="sex_female" type="radio" name="sex" value="2" />Female<br />

    <label for="activeEmployee" class="input-label"> {{activeEmployee}}</label>&nbsp;
    <input id="activeEmployee" type="checkbox" name="activeEmployee" value="1" />
    <br />

    <input type="text" tabindex="-1" (focus)="updateLabels($event)" (focusout)="revertLabels($event)" [value]="clickMeButton" />
    <br />
    datetime-local: <input type="datetime-local" /><br />
    date: <input type="date" /><br />
    datetime: <input type="datetime" /><br />

    tel: <input type="tel" /><br />
    <input type="reset" />




  </form>
</div>
